.container-fluid{
    height: auto;
}
.nav-menu a{
    font-size:13px;
    /* padding: 10px 0 10px 0; */
    font-weight: 600;
    text-transform: none !important;
}
#header .logo img{
    max-height: 60px !important;
    margin-top: -5px;
}
.is-sticky #header .logo img {
    max-height: 65px !important;
}
footer{
    margin-bottom: 0px;
    vertical-align: baseline;
}
.portfolio>.container>.portfolio-container{
    text-align: center !important;
}
.photo_gallery_page>.portfolio-container>.portfolio-item>a.venobox>.img-fluid{
    height:150px !important;
}
.science_image{
    height:330px;
    width:auto;
}
.align-items-stretch.justify-content-center{
    margin-right:auto;
}
.tech_image{
    height: 300px;
    width:100%;
}
.tech_and_sol_image{
    height:150px;
    width:150px;
}
.benifit_image{
    height: 300px;
    width:100%;
}
.list_title{
    font-weight: 600;
}
.service_title_decs{
    font-size:14px;
    font-weight: lighter;
}
.service_image_main{
    margin : 0 auto;
    height: 500px;
    width: auto;
}
span.description{
    font-size: 10.5pt;
}
.service_railway_bettery_image{
    height: 80%;
    width: 80%;
}
.photo_gallery_page>div.portfolio-container>div.portfolio-item>img.img-fluid{
    height :150px !important;
    width:250px;
}
.container>p>a:hover{text-decoration: underline;color:#d05b35}
.container>p>a:link{text-decoration: underline;}
.container>p>a:visited{text-decoration: underline;}
.container>p>a:active{text-decoration: underline;}

.services .icon-box{
    height: 300px !important;
}

#services2 .icon-box{
    height: 100px !important;
}

.portfolio-item .img-fluid {
    height: 203px !important;
    max-height: 203px !important;
    /* width: 300px; */
} 

.pb_0{
    padding-bottom: 0px !important;
}

.pt_0{
    padding-top: 0px !important;
}

.breadcrumbs{
    background: #eeffc7 !important;
}

.breadcrumbs h2{
    color: #000 !important;
}

.text_center{
    text-align:center !important;
}

#footer .footer-top{
    background: #1c2924 !important;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #759035 !important;
}

.f_right{
    text-align: right !important;
}

.services .title{
    text-transform: none !important;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .breadcrumbs{
      padding: 5px 0 !important;
      min-height: 25px !important;
  }
  .breadcrumbs h2 {
    font-size: 20px !important;
  }
  .cus_height .icon-box{
    height: 400px !important;
  }
}